@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  background-color: black;
  color: white;
}

.container {
  max-width: 1200px;
}

/* Fade-In Animation */
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-section.show {
  opacity: 1;
  transform: translateY(0);
}
